= form_for(@shop) do |f|
  - if @shop.errors.any?
    #error_explanation
      %h2
        = pluralize(@shop.errors.count, "error")
        prohibited this shop from being saved:
      %ul
        - @shop.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :password
    %br/
    = f.password_field :password
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :phone
    %br/
    = f.text_field :phone
  .field
    = f.label :address
    %br/
    = f.text_area :address
  .field
    = f.label :pref
    %br/
    = f.text_field :pref
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :rang
    %br/
    = f.number_field :rang
  .field
    = f.label :capability
    %br/
    = f.number_field :capability
  .field
    = f.label :open_at
    %br/
    = f.datetime_select :open_at
  .field
    = f.label :close_at
    %br/
    = f.datetime_select :close_at
  .field
    = f.label :position_x
    %br/
    = f.text_field :position_x
  .field
    = f.label :position_y
    %br/
    = f.text_field :position_y
  .actions
    = f.submit
