<%= form_for @shop, :url => shop_sessions_path do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <% if @shop.errors.any? %>
      <%= f.text_field :email, :placeholder => @shop.errors[:email][0]%>
    <%else%>
      <%= f.text_field :email, :placeholder => "name"%>
    <% end %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <% if @shop.errors.any? %>
      <%= f.password_field :password, :placeholder => @shop.errors[:password][0]%>
    <%else%>
      <%= f.password_field :password, :placeholder => "password"  %>
    <% end %>
  </div>
  <%= f.submit(:value => "Login") %>
<% end %>