#user-session--new
  .container
    .row
      .col-xs-12
        = link_to root_path, { class: "logo" } do
          = render "partials/logo"
      .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        .form-window
          %h1.form-window__heading ユーザーログイン
          .form-window__body
            = form_tag user_sessions_path, method: :post do
              .form-group
                = label_tag :email
                = text_field_tag :email, "", { placeholder: "abc@example.com", class: "form-control" }
              .form-group
                = label_tag :password
                = password_field_tag :password, "", { placeholder: "Password", class: "form-control" }
              = submit_tag "ログイン", { class: "pull-right btn btn-default" }
              .clearfix
